/* START initialization */

:root {
    --bg: #252525;
    --text: #11ff00;

    background-color: var(--bg);
    color: var(--text);
    width: 100vw;
    min-height: 100vh;
}

:root, html, body, header, footer, aside, main, nav {
    margin: 0;
    padding: 0;
    border: 1px dashed goldenrod;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* END initialization */

/* START Flexbox positioning */

body, header, footer, section, main {
    /* Flex Parent */
    display: flex;
    flex-flow: row wrap;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: stretch;
    align-content: flex-start;
    /* gap: 1em 2em; */
        /* row-gap: 1em; */
        /* column-gap: 2em; */
    
}

.full-width {
    width: 100%;
}

#sidebar {
    width: 20%;
    border: 1px dotted purple;
}

main {
    width: 80%;
    border: 1px dotted dodgerblue;
}

/* END Flexbox Positioning */

