/*
    This stylesheet is to initialize (nearly) all settings so that pages are displayed as intended
*/

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed orange;
}

ul, ol, li {
    list-style: none;
    display: inline;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Flexbox parent */
html,header,main,aside,footer {
    display: flex;
    flex-flow: row wrap;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    /* gap: 5em 3em; */
        /* row-gap: 5em; */
        /* column-gap: 3em; */
    box-sizing: border-box;
}

/* Flexbox child */
header,main,aside,footer {
    /* order: 0; */
    /* flex: none; */
        /* flex-grow: 0; */
        /* flex-shrink: 1; */
        /* flex-basis: auto; */
    /* align-self: flex-start; */
    background-color: white;
}

header, footer {
    width: 100%;
}

aside {
    width: 18%;
    display: inline;
}

main {
    width: 78%;
    display: inline;
}