/* START INIT */
:root {
    --bg: #252525;
    --text: #11ff00;
    --border: #FF851B;

    background-color: var(--bg);
    color: var(--text);
    width: 100vw;
    min-height: 100vh;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
/* END INIT */

/* START DEBUG */
html, body, header, main, footer, menu, section {
    border: 1px dashed var(--border);
}
/* END DEBUG */

/* START FLEXBOX */

body, header, main, footer, menu, section, ul, ol {
    /* Flex Parent */
    display: flex;
    flex-flow: row wrap;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: stretch;
    align-content: flex-start;
    /* gap: 1em 2em; */
        /* row-gap: 1em; */
        /* column-gap: 2em; */
    
}

header, main, footer, section, div, nav, ul, ol, li, a {
    /* FLEX CHILD */
    order: 0;
    flex: 1 0 auto;
        /* flex-grow: 0; */
        /* flex-shrink: 1; */
        /* flex-basis: auto; */
    align-self: center;
}

/* END FLEXBOX */

/**/
html, body, header, main, footer {
    width: 100%;
}

html, body {
    min-height: 100%;
}

/**/

/* START HEADER */

header {
    background-color: #000000;
    min-height: 10%;
}

li {
    flex: 0 1 auto;
    text-align: center;
    padding: 10px 20px;
}

#logo {
    flex-grow: 2;
    text-align: left;
}

li>a {
    height: 100%;
    width: 100%;
}

a:hover {
    color:#FF851B;
    background-color: #252525;
}
/* END HEADER */

/* START MAIN */

main {
    min-height: 80%;
}

/* END MAIN */

/* START FOOTER */

footer {
    min-height: 10%;
}

/* END FOOTER */