/*
    This stylesheet is to initialize (nearly) all settings so that pages are displayed as intended
*/

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}