/* START INIT */

:root {
    --bg: #111111;
    --text: #2ECC40;

    /* background-color: var(--bg);
    color: var(--text); */
    /* max-width: 100vw; */
    min-height: 100vh;
}

:root, html, body, header, nav, main, section, aside, footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* END INIT */

/* START @media OPTIONS */
    /* Make separate size queries separate stylesheets */
/* END @media OPTIONS */

/* START FLEXBOX DECLARATIONS */

/* END FLEXBOX DECLARATIONS */

html {
    border: 1px solid crimson;
    /* min-height: 100vh; */
    background-color: aquamarine;
}

body {
    border: 1px solid yellow;
    min-height: 100vh;
    background-color: aqua;
}

header {
    width: 100%;
    border: 1px solid blue;
    background-color: goldenrod;
}

ul {
    height: 100%;
    /* width: 100%; */
        /* This extends width of page beyone viewport width */
}

ol > li, ul > li {
    display: inline-flex;
}

main {
    min-height: 100vh;
    border: 1px solid red;
    background-color: yellowgreen;
}

section {
    /* min-height: 100vh; */
    background-color: blue;
}

footer {
    width: 100%;
    border: 1px solid green;
    background-color: purple;
}