/* START INIT */

:root {
    --bg: #252525;
    --text: #11ff00;

    background-color: var(--bg);
    color: var(--text);
    width: 100vw;
    min-height: 100vh;
}

:root, html, body, header, footer, main, nav, section, aside {
    margin: 0;
    padding: 0;
    border: 1px dashed goldenrod;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* END INIT */

/* START @media OPTIONS */

@media (prefers-color-scheme: dark) {
    .dark-scheme { background: var(--bg); color: var(--text) }
}

@media (prefers-color-scheme: light) {
    .light-scheme { background: white; color: black; }
}

/* Media sizes from Microsoft https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */
/* https://mediaqueri.es/about/ has 320px, 768px, 1024px, and 1600px */
/* @media (max-width: 640px) {
    
}

@media (min-width: 641px) and (max-width: 1007px) {
    
}

@media (min-width: 1008px) {
    
}

@media print {
    background: white;
    color: black;
} */

/* END @media OPTIONS */

html, body, header, main, footer, nav, section {
    border: 1px dotted white;
}

header {
    background-color: grey;
}

#nav-head {
    color: var(--text);
}

#sidebar {
    color: var(--text);
    background-color: darkorchid;
    height: 100%;
    width: 20%;
}

#nav-foot {
    color: var(--text);
    background-color: darkblue;
}

body {
    color: blue;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: flex-end; */
    list-style: none;
}

li > a {
    display: block;
    text-decoration: none;
    padding: 1em;
    color: var(--text);
    text-align: center;
    border: 1px inset var(--text);
    /*
        border-style: top left bottom right;
        border-width: top left bottom right;
        border-color: top left bottom right;
    */
    font-weight: bold;
}

a:hover {
    background-color: orange;
    color: black;

}

#main-wrapper {
    display: flex;
    flex-flow: row wrap;
        /* flex-direction: column;
        flex-wrap: wrap; */
    justify-content: center;
}

main {
    height: 100%;
    width: 80%;
}

footer {
    width: 100%;
    
}