/* START INITIALIZATION */

:root {
    --bg: #111111;
    --text: #2ECC40;

    background-color: var(--bg);
    color: var(--text);
    width: 100vw;
    min-height: 100vh;
}

:root, body, header, main, footer, section, div, nav, ul, ol, li, a {
    margin: 0;
    padding: 0;
    border: 1px dashed #FF851B;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header, footer {
    height: 10%;
}

main {
    min-height: 80%;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* END INITIALIZATION */

/* START FLEXBOX */

body, header, main, footer, section, div, nav, ul, ol, li {
    /* FLEX PARENT */
    display: flex;
    flex-flow: row wrap;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    /* gap: 1em 2em; */
        /* row-gap: 1em; */
        /* column-gap: 2em; */
}

header, main, footer, section, div, nav, ul, ol, li, a {
    /* FLEX CHILD */
    order: 0;
    flex: 1 0 auto;
        /* flex-grow: 0; */
        /* flex-shrink: 1; */
        /* flex-basis: auto; */
    align-self: auto;
}

/* li {
    flex-basis: 25%;
    justify-content: center;
} */

/* END FLEXBOX */

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

/* START NAVBAR */

/* nav {
    justify-content: flex-start;
} */

a {
    padding: 1em;
    text-align: center;
}

a:hover {
    background-color: #001F3F;
    color: #39CCCC;
}

/* END NAVBAR */

/* #intro {
    justify-content: center;
}

body {
    min-height: 100%;
}

img {
    object-fit: 50% 50%;
    object-fit: contain;
} */